.record-button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.recorder {
  cursor: pointer;
  border: 2px solid var(--bs-secondary);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
